<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
	<test thread-count="5" name="ChromeTest">
		<parameter name="browser" value="Chrome" />
		<classes>
			<class name="Test.MeeshoLoginPage" />
		</classes>
	</test>
	<test thread-count="5" name="FirefoxTest">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="Test.MeeshoLoginPage" />
		</classes>
	</test>
	<test thread-count="5" name="EdgeTest">
		<parameter name="browser" value="edge" />
		<classes>
			<class name="Test.MeeshoLoginPage" />
		</classes>
	</test>
</suite> <!--
Suite -->
